@import '../../style/_variables';

.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: $padding-lg;
    height: 100vh;

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .control-wrapper {
            height: 80px;
            display: flex;
            flex-direction: column;
            gap: $padding-sm;

            .input-wrapper {
                display: flex;
                gap: $padding-sm;
                justify-content: center;
                align-items: center;
            }

            .error {
                color: #780000;
            }
        }
    }
}